chapter_blurbs.json~
chapters/\#002-about.tex\#
chapters/\#110-history.tex\#
chapters/\#220-datasets.tex\#
chapters/.\#002-about.tex
chapters/.\#110-history.tex
chapters/.\#220-datasets.tex
chapters/004-structure.tex~
chapters/110-history.tex~
chapters/220-datasets.tex~
chapters/002-about.tex~
chapters/130-ir.tex~
